

.main{
    height: 165px;
    width: 350px;
}

.card{
    width: 350px;
}

.icons{
    margin-top: -200px;
    margin-left: -425px;
    display: flex;
    justify-content: space-evenly;
}

.button{
    margin-left: 250px;
}

