.box2 {
    margin-top: 100px;
    margin-left: 200px;
    border: 1px white;
    background-color: whitesmoke;
    outline: none;
    border-radius: 10px;
    height: 50px;
    width: 650px;
    font-size: 18px;
}

.checkBox {
    cursor: pointer;
    margin-top: -35px;
    margin-left: 685px;
}

.edit {
    cursor: pointer;
    margin-top: -30px;
    margin-left: 745px;
}

.image {
    cursor: pointer;
    margin-top: -29px;
    margin-left: 800px;
}

.box4 {
    margin-top: 44px;
    margin-left: 101px;
    width: 651px;
}

.box5{
    background-color: whitesmoke;
    border: none;
    font-size: 18px;
    outline: none;
}

.box6{
    background-color: whitesmoke;
    border: none;
    font-size: 18px;
    outline: none;
}

.close{
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 500px;
}

.icon{
    margin-top:-230px;
    margin-left: -400px;
    width: 50px;
}