<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="container">

    <div class="icons">

        <span class="material-symbols-outlined" style="cursor: pointer;" *ngIf="icons" matTooltip="Remind me">
            add_alert
        </span>

        <span class="material-symbols-outlined" style="cursor: pointer;" *ngIf="icons" matTooltip="Collaborator">
            person_add
        </span>

        <button mat-button [matMenuTriggerFor]="colorMenu" class="color" class="material-symbols-outlined"
            style="cursor: pointer;margin-left: -15px;margin-top: -8px;" *ngIf="icons" matTooltip="Background Options">
            palette
            <mat-menu #colorMenu="matMenu">
                <div *ngFor="let color of colors">
                    <button mat-mini-fab [style.background]="color?.code" (click)="changeColor(color.code)">
                    </button>
                </div>
            </mat-menu>
        </button>

        <span class="material-symbols-outlined" style="cursor: pointer;margin-left: -16px;" *ngIf="icons"
            matTooltip="Add image">
            image
        </span>

        <div *ngIf="icons">
            <div *ngIf="Archive">
                <span class="material-symbols-outlined" (click)="archieve()" style="cursor: pointer;"
                    matTooltip="Archive">
                    archive
                </span>
            </div>
        </div>

        <div class="Unarchive" *ngIf="UnArchive">
            <span class="material-symbols-outlined" style="cursor: pointer;" (click)="unarchieve()"
                matTooltip="UnArchive">
                unarchive
            </span>
        </div>

        <div *ngIf="trashIcons">
            <span class="material-symbols-outlined" style="cursor: pointer; margin-left: -125px;"
                (click)="deleteForever()" matTooltip="Delete Forever">
                delete_forever
            </span>

            <span class="material-symbols-outlined" style="cursor: pointer; margin-left: 20px;" (click)="onrestore()"
                matTooltip="Restore">
                restore_from_trash
            </span>
        </div>

        <div class="material-symbols-outlined" style="cursor: pointer;" *ngIf="icons" matTooltip="More">
            <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-top:-8px">
                <mat-icon>more_vert</mat-icon>
            </button>
            <div>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="delete()">
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </div>
        </div>

    </div>

</div>