.card{
    
    // background-color: blue;
    height: 100px;
    width: 300px;
    margin: 20px;
}

.icon{
    // background-color: blue;
    margin-left: -400px;
    width: 200px;
    margin-top: -200px;
    border:none;
    outline: none;
}