.container {
    border-radius: 10px;
    border: 1px solid black;
    height: 630px;
    width: 850px;
    margin-left: 395px;
    margin-top: 50px;
}

.head {
    margin-left: 40px;
    margin-top: 50px;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.head2 {
    margin-top: 20px;
    font-size: 25px;
    margin-left: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.f-name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 4px;
}

.l-name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -90px;
    margin-left: 250px;
    border-radius: 4px;
}

.u-name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -10px;
    margin-left: 40px;
    border-radius: 4px;
}

.password {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 4px;
}

.c-password {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -90px;
    margin-left: 250px;
    border-radius: 4px;
}

.message {
    font-size: 15px;
    margin-top: -10px;
    margin-left: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.message1 {
    color: #1A73E8;
    font-size: 15px;
    margin-left: 40px;
}

.check {
    margin-left: 40px;
    margin-top: 20px;
}

.message2 {
    font-size: 15px;
    margin-left: 40px;
    margin-top: -15px;
}

button {
    background-color: #1A73E8;
    margin-left: 370px;
    height: 40px;
    width: 70px;
    border-radius: 4px;
    border: 1px white;
}

.message3{
    margin-top: 40px;
    font-size: 15px;
    margin-left: 50px;
}

.image {
    height: 100px;
    width: 300px;
    margin-top: -480px;
    margin-left: 500px;
}

.message4 {
    margin-top: 180px;
    margin-left: 550px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.message5 {
    font-size: 15px;
    margin-top: -10px;
    margin-left: 580px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}